body {
  background-color: #0c0c0c;
  display: block;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  margin:0;

}
.web-margin{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align:left;
}

hr{
  border-style: dotted none none none;
  border-color: #111111;
  width: 10%;
  border-width: 5px;
}
.light-blue{
  color:#42C2FF;
}

.white{
  color:#f2f2f2;
}

.dark{
  color: #0c0c0c;
}
h1{
  font-size: 4rem;
  margin:auto;
  margin-top: 7%;
  font-family: 'Bitter', serif;
  line-height: 2;
}
h2{
  font-size:3.5rem;
  font-family: 'Bitter-light', serif;
  font-weight: normal;
}
h3{
  font-family: 'Bitter', serif;
}

a{
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #4e4e4e;
  padding: 8px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.date{
  font-family:'Courier New', Courier, monospace;
}

.left-align{
  margin-top: 50px;
  margin-right: 600px;
}

.skills{
  margin-top: 100px;
}
.profile{
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}
.profile-photo{
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.table-photo{
  
  float: left;
  width:80px;
  margin-left:40%;
}

.arrow-photo{
  

  width:50px;
 
}

.zagreb-photo{
  
  float: left;
  width:200px;
  margin-left:30%;
}
.middle-container{
  background-color: #cff7f3;
  padding-top:5px;
  padding-bottom: 5px;
  margin:0 0 20px 0;
  width: 100%;

}

.middle-container2{
  background-color: #f0dede;
  padding-top:5px;
  padding-bottom: 5px;
  margin:0 0 20px 0;
  width: 100%;

}
.computer-img{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.code-img{
  width: 20%;
  float:right;
  margin-left: 30px;
}

.profile-description{
  width: 20%;
  margin:2% auto 2% auto;

}

.footer-link{
  margin:0 0.5% 0 0.5%;
  font-size: 2rem;
}
.btn {
  box-shadow: 0px 10px 14px -7px #000;
  background: #000;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000;
 
}

.btn:hover {
  background: #000;
  color: #fff;
  background: linear-gradient(to bottom, #000 5%, #fff 100%);
}

.btn:active {
  position: relative;
  top: 1px;
}


.contact-me{

  margin:2% auto 2% auto;
}

@media (max-width :1300px){
  .img{
    float: none;
    width: 50%;
    text-align: center;
  }
  h2{
    width: 100%;
  }

  .programmer{
    font-size: 2.5rem;
  }
}
